* {
    box-sizing: border-box;
    font-family: Consolas, monospace;
}

body {
    margin: 0;
    background: #0b0b0b;
    color: #00ff99;
}

/* LOGIN */

#login-screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#login-screen h1 {
    margin-bottom: 20px;
}

#login-screen input {
    padding: 10px;
    background: black;
    border: 1px solid #00ff99;
    color: #00ff99;
    width: 260px;
    margin-bottom: 10px;
}

#login-screen button {
    padding: 10px;
    width: 260px;
    background: #00ff99;
    border: none;
    cursor: pointer;
    color: black;
}

#login-error {
    margin-top: 10px;
    color: red;
}

/* TERMINAL */

#terminal {
    display: none;
    height: 100vh;
}

#sidebar {
    width: 220px;
    background: #050505;
    border-right: 1px solid #00ff99;
    padding: 10px;
}

#sidebar button {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    background: black;
    border: 1px solid #00ff99;
    color: #00ff99;
    cursor: pointer;
}

#sidebar button:hover {
    background: #00ff99;
    color: black;
}

#content {
    flex: 1;
    padding: 20px;
}

/* TABLE */

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #00ff99;
    padding: 8px;
}

textarea, input {
    width: 100%;
    background: black;
    border: 1px solid #00ff99;
    color: #00ff99;
    padding: 6px;
}

button {
    background: #00ff99;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
}
